@import "~bootstrap/scss/bootstrap.scss";

body {
    background-image: url(https://thumbs.gfycat.com/SizzlingAdorableBluebreastedkookaburra-small.gif);    
}

.container {
    width: 50%;
    height: 625px;
    background-color: rgb(33, 34, 34);
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: whitesmoke;
    
}

.btn {
    color: whitesmoke;
}

.song {
    margin-top: 1px;
    font-size: 17px;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}